body {
    font-family: Arial, sans-serif;
    background-color: #3579bd;
    display: flex;
    justify-content: center;
    margin-top: 250px;
}

.container {
    background: rgb(245, 249, 249);
    padding: 20px 30px;
    width: 350px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    color: #3579bd;
}

form {
    display: flex;
    gap: 10px;
}

input[type="text"] {
    flex: 1;
    padding: 8px;
}

button {
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.add-btn {
    background-color: #28a745;
    color: white;
}

.delete-btn {
    background-color: #dc3545;
    color: white;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 15px;
}

li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    background: #fdfeff;
    padding: 8px;
    border-radius: 4px;
}